/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Paddings & Margins
$spacer-xxsmall: 1rem;    // 16px
$spacer-xsmall: 1.5rem;     // 24px
$spacer-small: 2rem;      // 32px
$spacer: 2.5rem;            // 40px
$spacer-medium: 3rem;     // 48px
$spacer-large: 3.5rem;      // 56px
$spacer-xlarge: 4rem;     // 64px
$spacer-xxlarge: 4.5rem;    // 72px

$margins: 'margin-top', 'margin-bottom', 'margin-right', 'margin-left';
$paddings: 'padding-top', 'padding-bottom', 'padding-right', 'padding-left';

$sizes: (
		"xxsmall": $spacer-xxsmall,
		"xsmall": $spacer-xsmall,
		"small": $spacer-small,
		"regular": $spacer,
		"medium": $spacer-medium,
		"large": $spacer-large,
		"xlarge": $spacer-xlarge,
		"xxlarge": $spacer-xxlarge,
		"none": 0,
);
